@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar{
  width: 0;
  height: 0;
}

nav{
  color: rgba(var(--foreground-rgb), 1);
}

img {
  object-fit: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.home-demo .item {
  background: #ff3f4d;
}
.home-demo h2 {
  color: #FFF;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}